.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 60px;
    line-height: 60px;
    background-color: whitesmoke;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10%;
    height: 80px;
    background-color: #f8ff77 !important; 
}
.navbar a {
    color: #5E4F94 !important;
}
.navbar-brand a{
    font-weight: bold;
}
.divs {
    margin-top: 14%;
    margin-bottom: 7%;
}
body {
    background-color: #c5fce3;
}
.text-muted {
    padding-left: 10px;
    color: #5E4F94 !important;
}
footer {
    background-color: #f8ff77 !important;
}
button {
    background-color: #ff7f48 !important;
    color: white !important;
    border-color: rgb(238, 109, 35) !important;
}
.navbar-toggler-icon{
    background-color: #5E4F94;
}
.navbar-toggler{
    background-color: #5E4F94 !important;
}
img {
    width: 100%;
    height: 60%;
}
#welcomeForm {
    padding: 10px;
    overflow:hidden ; 
}
#logInForm {
    padding: 10px;
    overflow:hidden ; 
}
#signupButtons {
    padding: 10px;
    overflow:hidden ; 
}
#listingButtons {
    padding: 10px;
    overflow:hidden; 
}
#welcomeComponent {
    display: block;
}
#signupComponent {
    display: none;
}
#listingFormComponent {
    display: none;
}
#loginComponent {
    display: none;
}
#clientComponent {
    display: none;
}
#listingComponent {
    display: none;
}
body {
    background-image: "src: /background.jpg";
}
